// Файл для переменных.

// Экраны на ширину.
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthDesktop: 1366px;
$mobileWidthOnly: 767px;

// Экраны на ретину.
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Цвета.
$bg-grey: #1f1c1d;
$bg-black: #181617;
$gold: #a07b50;
