.breed-features {
  @include media-tablet {
    position: relative;
  }
}

.breed-features__wrapper {
  @include media-tablet {
    min-height: 835px;
    padding-bottom: 0;
  }

  @include media-desktop {
    min-height: 1010px;
  }
}

.breed-features__title {
  margin-bottom: 23px;
}

.breed-features__list {
  @include list-reset;

  @include media-tablet {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.breed-features__item {
  position: relative;
  margin: 0 0 30px 0;
  padding-right: 18px;
  padding-left: 18px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: $gold;
    border-radius: 50%;
  }

  @include media-tablet {
    margin: 0;
    padding: 0;

    &::after {
      width: 10px;
      height: 10px;
    }

    &--companion{
      top: 412px;
      right: 283px;
      max-width: 167px;
      text-align: end;

      &::after {
        left: 186px;
     }
    }

    &--training{
      max-width: 133px;
      top: 416px;
      left: 313px;

      &::after {
        left: -23px;
     }
    }

    &--size{
      max-width: 111px;
      top: 458px;
      left: 285px;

      &::after {
        top: 3px;
        left: -22px;
      }
    }

    &--lynx{
      max-width: 140px;
      top: 342px;
      right: 269px;
      text-align: end;

      &::after {
        top: 6px;
        left: 155px;
      }
    }
  }

  @include media-desktop {
    &::after {
      width: 15px;
      height: 15px;
    }

    &--companion {
      top: 407px;
      right: 392px;
      max-width: 245px;
      text-align: right;

      &::after {
        top: 8px;
        left: 269px;
     }
    }

    &--training {
      max-width: 190px;
      top: 493px;
      left: 491px;

      &::after {
        left: -35px;
     }
    }

    &--size {
      max-width: 190px;
      top: 643px;
      left: 445px;

      &::after {
        top: 6px;
        left: -27px;
      }
    }

    &--lynx {
      max-width: 190px;
      top: 551px;
      right: 361px;
      text-align: end;

      &::after {
        top: 9px;
        left: 210px;
      }
    }
  }
}

.breed-features__text {
  margin: 0;

  @include media-tablet {
    font-size: 16px;
    line-height: 23px;
  }
}

.breed-features__lead {
  max-width: 450px;
  margin-bottom: 30px;

  @include media-tablet {
    width: 60%;
    max-width: 735px;
    margin-bottom: 43px;
  }

  @include media-desktop {
    margin-bottom: 20px;
  }
}

.breed-features__picture-wrapper {
  position: relative;
  width: 267px;
  min-height: 295px;
  margin: 0 auto 45px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    top: 50px;
    left: 15px;
    z-index: -1;
    width: 230px;
    height: 230px;
    background: #151313;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &::after {
    top: 25px;
    left: -7px;
    z-index: -1;
    width: 280px;
    height: 280px;
    border: 0.5px solid $gold;
    background-color: transparent;
    box-sizing: border-box;
  }

  @include media-tablet {
    width: 400px;
    margin-bottom: 0;
    transform: translateX(20px);

    &::before {
      top: 80px;
      left: 15px;
      width: 342px;
      height: 342px;
      background: #151313;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &::after {
      top: 43px;
      left: -22px;
      width: 416px;
      height: 416px;
    }
  }

  @include media-desktop {
    width: 602px;
    transform: translateX(44px);

    &::before {
      top: 110px;
      left: 26px;
      width: 519px;
      height: 519px;
      background: #151313;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &::after {
      top: 55px;
      left: -29px;
      width: 631px;
      height: 631px;
    }
  }
}
